# Backend C++
backend/server
backend/server_debug
*.o

# Discos de prueba
*.mia

# Node / React (para cuando montemos el frontend)
node_modules/
frontend/dist/
frontend/build/

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store